    *{
        width: 100%;
        
       
    }


    .inter-font {
        font-family: "Inter";
        font-optical-sizing: auto;
        /* background-color: rgba(255, 255, 255, 0.025); */
      }

      header{
        padding-top: 50px;
        background: linear-gradient(180.00deg, rgb(52, 52, 52),rgb(0, 0, 0) 100%);
      }
      

      nav{
        width: 1060px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .nav-content{
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 39px;
        padding: 0;
      }
      nav .nav-iteams{
        display: flex;
        text-align: center;
        flex-direction: row;
        cursor: pointer;
        padding: 0%;
      }
      .nav-iteams li{
        font-size: 18px;
        font-weight: normal;
        color: rgb(255, 255, 255);
        list-style: none;

      }

      nav #logo{
        font-size: 36px;
        font-weight: 800;
        color: rgb(230, 83, 60);
        margin: 0;
        font-style: italic;
      }

      #home{
        background-color:rgb(230, 83, 60);
        padding: 8px 14px;
        border-radius: 48px;
      }

      /*  Hero Sections Styles  */

      .hero-sectioons{
        width: 1060px;
        margin: 0 auto ;
        border: 2px   solid rebeccapurple;
        display: flex;
        padding-top: 50px;
      }

      .hero-content h1{
        font-size: 78px;
        font-weight: 900;
        color: rgb(255, 255, 255);
      }
      .hero-content p{
        font-size: 16px;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.5);
      }

      .hero-content .duble-btn{
        display: flex;
        gap: 14px;
        margin-top: 20px;
      }
      #btn1{
        font-size: 16px;
        font-weight: 500;
        padding: 12px 14px;
        color: rgb(255, 255, 255);
        background-color: rgb(230, 83, 60);
        border: none;
        border-radius: 48px;
        cursor: pointer;
      }

      #btn2{
        font-size: 16px;
        font-weight: 500;
        padding: 12px 12px;
        color: rgb(255, 255, 255);
        background-color: rgba(17, 17, 17);
        border-radius: 48px;
        border: 1px solid  rgb(255, 255, 255);
        cursor: pointer;

      }

      .hero-img{
        background-image: url(../images/hero.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

      }

      .HeroBox2{
        width: 206px;
        height: 96px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
      }

      /* ================= MAin Styles ============================== */


      /* =================Change Your Habits ===================== */
      main{
        background-color: rgb(0, 0, 0);
      }
      .chnge-sections{
        width: 1044px;
        border: 2px solid rebeccapurple;
        margin: auto;
        padding-top: 50px ;
      }

      .change-content{
        width: 671px;
        margin: auto;
        border: 2px solid rebeccapurple;
      }

      .change-content h3{
        color: rgb(255, 255, 255);
        font-size: 44px;
        font-weight: 900;
        text-align: center;
      }

      .change-content p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: normal;
        text-align: center;
      }

      .img-box{
        width: 230px;
        text-align: center;
        border: 3px solid red;
      }
      .img-box img{
        border-radius: 100%;
        width: 70%;
        height: auto;
      }
      .img-box h4{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }
      .img-box p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: normal;
        text-align: center;
      }

      .img-content{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
      }

      /* ============== Styles Run Sections =============== */

      .run-sections{
        width: 1060px;
        height: 370px;
        margin: 80px auto;
        border: 2px solid aliceblue;
        background-color: rgb(34, 34, 34);
        border-radius: 15px;
        display: flex;
        align-items: center;
        
      }

      .run-img{
        text-align: center;
        width: 350px;
        margin: auto;
      }
      .run-img img{
        width: 350px;
        border-radius: 15px;
        
      }

      .run-content{
        width: 443px;
        height: 290px;
        border: 2px solid rebeccapurple;
        margin: auto;
      }

      .run-content h3{
        font-size: 44px;
        font-weight: 900;
        color: rgb(255, 255, 255);
      }

      .run-content p{
        font-size: 14px;
        font-weight: normal;
        color:rgba(255, 255, 255, 0.5);
      }

      .run-content button{
        font-size: 14px;
        font-weight: normal;
        background-color: rgb(230, 83, 60);
        color: rgb(255, 255, 255);
        border: none;
        width: 110px;
        padding: 10px 14px;
        margin: auto;
        border-radius: 48px;
        cursor: pointer;
      }

/* =================== BMI Calculator ========================= */

.bmi{
  width: 600px;
  height: auto;
  margin: 50px auto;
  border: 2px solid aliceblue;
}
.bmi h3{
  font-size: 36px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.bmi p{
  font-size: 14px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

/* ====================== BMI CALCULATE ================= */

/* =========BMI Chart =============== */

.bmi-sections{
  width: 100%;
  margin: auto;
  background-color: rgb(34, 34, 34);
}

.bmi-calculate{
  width: 1060px;
  margin: 50px auto;
  border: 2px solid aliceblue;
  display: flex;
  justify-content: space-between;
}
.bmi-chart{
  width: 500px;      
  height: 400px;
  /* margin: auto; */
}
.bmi-chart h3{
  font-size: 28px;
  font-weight: 700;
  color: aliceblue;
}

.chart{

  width: 350px;
  height: 280px;
  margin: auto 0;
}

.chart table{
  border-collapse: collapse;
}
.chart table tr td, th{
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 12px 12px;
  width: 50%;
  text-align: left;
}

.chart table tr th{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}

.chart table tr td{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

/* =============BMi Form=============== */

.bmi-form{
  width: 570px;
  height: 400px;
}

.bmi-form h3{
  font-size: 28px;
  font-weight: 700;
  color: aliceblue;
}

.bmi-form p{
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.form{
  display: block;
  margin-top: 30px;
}

.form1{
  width: 550px;
  display: flex;
  gap: 10px;
  margin-top: 15px;

}


.input{
  width: 190px;
  padding: 14px 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: normal;
}

#select1{
  width: 272px;
  padding: 14px 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: normal;
}

#select2{
  width: 550px;
  padding: 14px 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: normal;
}



/* =================== Styles Team Sections ============== */

.Teal-headline{
  width: 600px;
  margin: 0 auto;
  border: 2px solid rebeccapurple;
}

.Teal-headline h3{
  font-size: 44px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
}

.Teal-headline p{
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.team-img-box{
  width: 1060px;
  margin: 50px auto;
  margin-bottom: 0;
  border: 2px solid aquamarine;
  border-radius: 18px;
  /* background: rgba(255, 255, 255, 0.1); */
  height: 600px;
  
}
.img-boxes{
  width: 300px;
  height: 250px;
  border-radius: 12px;
  border: 2px solid rebeccapurple;
}

.img-boxes img{
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2),url(../images/exercise4.png);
}

.img-boxes h3{
  /* position:absolute; */
  font-size: 28px;
  font-weight: 700;
  /* bottom: 50px;
  left: 10px;
  z-index: 5; */
  color: rgb(255, 255, 255);
}
.img-boxes p{
  font-size: 14px;
  /* position:absolute; */
  /* bottom: 30px;
  left: 10px; */
  z-index: 3;
  color: rgba(255, 255, 255, 0.5);
}



/* ============== Footer Sections Styles================ */

.footer{
  width: 100%;
  margin: auto;
  background-color: rgb(52, 52, 52);
}

.footer-sections{
  margin: 30px 0;
  width: 1060px;
  height: 300px;
  margin: auto;
  border: 2px solid rebeccapurple;
  display: flex;
  align-items: center;
}

.footer-headline{
  width: 440px;
  margin: auto;
  border: 2px solid rebeccapurple;
}

.footer-headline h3{
  font-size: 44px;
  font-weight: 800;
  color: rgb(230, 83, 60);
  font-style: italic;
}

.footer-sections p{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

.footer-content{
  width: 550px;
  margin: auto;
  border: 2px solid rebeccapurple;
  display: flex;
  gap: 30px;
}

.footer-content h4{
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.footer .footer-list-iteam{
  list-style: none;
  text-align: left;
  padding: 0;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.footer .footer-list-iteam li{
  margin-bottom: 5px;
}

.footer-reserved{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 800px;
  margin: auto;
  padding: 20px 0;
}
